.modal {
    --cor-background: #ecf0f3;
    --cor-blanco: #ffffff;
    --cor-sombra-pad: rgba(0, 0, 0, 0.16);
    --cor-boton-normal: #78797a;
    --cor-boton-normal-hover: #afafaf;
    --cor-boton-topo-cinza-escuro: #5e5e60;
    --cor-boton-topo-cinza-escuro-hover: #7b797a;
    --cor-boton-naranja: #ff9e0b;
    --cor-boton-naranja-hover: #c97c02;
    --cor-input-resultado: #504b52;
    --cor-boton-fechar: #fe5f56;
    --cor-boton-minimizar: #fdbc2e;
    --cor-boton-maximizar: #28c840;
    --cor-borde-boton: rgba(0, 0, 0, 0.4);
    --cor-borde-calculadora: rgba(0, 0, 0, 1);
  }
  
  * {
    font-family: "Anto", sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    margin: 0;
    background: var(--cor-background);
    outline: none;
  }
  
  .contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor .calculadora {
    border: 1px solid var(--cor-borde-calculadora);
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 12px var(--cor-sombra-pad);
  }
  
  .contenedor .calculadora .opcionesdeventana {
    display: flex;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: transparent;
    column-gap: 7px;
  }
  
  .contenedor .calculadora .opcionesdeventana div {
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: relative;
  }
  
  .contenedor .calculadora .opcionesdeventana div::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 11px;
    font-size: 10px;
    cursor: pointer;
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(1) {
    background-color: var(--cor-boton-fechar);
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(2) {
    background-color: var(--cor-boton-minimizar);
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(3) {
    background-color: var(--cor-boton-maximizar);
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(1):hover:after {
    content: "x";
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(2):hover:after {
    content: "-";
    line-height: 12px;
    font-size: 12px;
  }
  
  .contenedor .calculadora .opcionesdeventana div:nth-child(3):hover:after {
    content: "+";
  }
  
  .contenedor .calculadora .contenedor_btn {
    display: grid;
    background-color: var(--cor-input-resultado);
    border-radius: 10px;
  }
  
  .contenedor .calculadora .contenedor_btn input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: var(--cor-input-resultado);
    border: none;
    border-radius: 10px;
    color: var(--cor-blanco);
    font-size: 50px;
    text-align: right;
    margin: auto;
    margin-top: 20px;
    font-weight: 200;
  }
  
  .contenedor .calculadora .contenedor__btn input::placeholder {
    color: var(--cor-blanco);
    opacity: 1; /* para firefox */
  }
  
  .contenedor .calculadora .contenedor_btn a {
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    background-color: var(--cor-boton-normal);
    color: var(--cor-blanco);
    cursor: pointer;
    border-right: 1px solid var(--cor-borde-boton);
    border-top: 1px solid var(--cor-borde-boton);
    user-select: none;
  }
  .contenedor .calculadora .contenedor_btn a:hover {
    background-color: var(--cor-boton-normal-hover);
  }
  
  .contenedor .calculadora .contenedor_btn a.grid-span-2 {
    grid-column: span 2;
    width: 100%;
  }
  
  .contenedor .calculadora .contenedor_btn a.botones_iniciales {
    background-color: var(--cor-boton-topo-cinza-escuro);
  }
  
  .contenedor .calculadora .contenedor_btn a.botones_iniciales:hover {
    background-color: var(--cor-boton-topo-cinza-escuro-hover);
  }
  
  .contenedor .calculadora .contenedor_btn a:nth-child(4n + 1),
  .contenedor .calculadora .contenedor_btn a:last-child {
    background-color: var(--cor-boton-naranja);
    border-right: none;
  }
  
  .contenedor .calculadora .contenedor_btn a:nth-child(4n + 1):hover,
  .contenedor .calculadora .contenedor_btn a:last-child:hover {
    background-color: var(--cor-boton-naranja-hover);
  }
  
  .borde-radius-izquierda{
    border-bottom-left-radius: 10px;
  }
  
  .borde-radius-derecha{
    border-bottom-right-radius: 10px;
  }
  